<div class="main_banner">
    <section class="home_slider">
        <div>
            <div class="home_slider_item">
                <img src="images/slider/slider_1.png" alt="Slider 1">
                <div class="home_slider_content">
                    <h2>We make hiring easy, Literally</h2>
                    <a asp-controller="JobSeekers" asp-action="Index" class="button_blue">Start working</a>
                    <a asp-controller="Businesses" asp-action="Index" class="button_green">Request personnel</a>
                </div>
            </div>
        </div>
        <div>
            <div class="home_slider_item">
                <img src="images/slider/slider_2.png" alt="Slider 2">
                <div class="home_slider_content">
                    <h2>Premium staffing agency</h2>
                    <a asp-controller="JobSeekers" asp-action="Index" class="button_blue">Start working</a>
                    <a asp-controller="Businesses" asp-action="Index" class="button_green">Request personnel</a>
                </div>
            </div>
        </div>
        <div>
            <div class="home_slider_item">
                <img src="images/slider/slider_3.png" alt="Slider 3">
                <div class="home_slider_content">
                    <h2>We do what we know best, Staffing</h2>
                    <a asp-controller="JobSeekers" asp-action="Index" class="button_blue">Start working</a>
                    <a asp-controller="Businesses" asp-action="Index" class="button_green">Request personnel</a>
                </div>
            </div>
        </div>
    </section>
</div>
