<div class="container_testimonials background_blue_green">
    <img src="~/images/quotes.png" alt="quotes">
    <h2>What our customers are speaking about</h2>
    <div class="testimonials_slider container">
        <article class="testimonial">
            <p>
                "It was an absolute pleasure to work with all of you took care of us in an amazing way and all the guys
                we worked with were number in my books... Many many thanks. I would 100% recommend you to anyone"
            </p>
            <p class="author">Deployment Manager. Furniture Manufacturer.</p>
            <p class="city">Montreal-Quebec</p>
        </article>
        <article class="testimonial">
            <p>
                "Thank you so much for your assistance. Wouldn't have done it without you"
            </p>
            <p class="author">Business Owner, FLower Boutique.</p>
            <p class="city">Oakville-Ontario</p>
        </article>
        <article class="testimonial">
            <p>
                "We do appreciate you working with the people and still even on short notice, having someone at our doorstep every day we needed them."
            </p>
            <p class="author">Logistics Manager, Warehouse.</p>
            <p class="city">Ottawa-Ontario</p>
        </article>
    </div>
</div>