@using Covenant.Web.Common
<div class="container center container_padding">
    <h2 class="line">What makes us different?</h2>
    <p>We provide an integrated service for temporary and permanent employment; from screening, <br>
        hiring, to helping you manage, monitor your workers shift and payroll.</p>
    
    <div class="row margin_top_30">
        <div class="col-md-4 col-sm-12 align-self-center">
            <div class="container_why">
                <div class="icon">
                    <img src="~/images/network.png" alt="increase">
                </div>
                <h3>We have a nationwide vision with a local focus.</h3>
                <p>We hire locally! <br>With a network of over thousands of local candidates.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 align-self-center">
            <div class="container_why">
                <div class="icon">
                    <img src="~/images/icon_punchcard.png" alt="punch card">
                </div>
                <h3>We are Market <br/> Leaders /Innovators:</h3>
                <p> 
                    You can hire online within minutes using our SIGOOK&trade; APP. <br><br>
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 align-self-center">
            <div class="container_why">
                <div class="icon">
                    <img src="~/images/service.png" alt="increase">
                </div>
                <h3>Immediate <br>Response.</h3>
                <p>Your account manager is ready to respond any concern/question immediately.</p>
            </div>            
        </div>
    </div>
    <div class="row container_padding container_detail_products margin_section home_sigook">
        <div class="col-sm-12 col-md-6 align-self-center">
            <img src="~/images/tri1.png" alt="Sigook" class="background_triangle">
            <img src="~/images/sigook1.png" alt="Sigook">
        </div>
        <div class="col-sm-12 col-md-6 align-self-center">
            <h3><a href="https://www.sigook.com" target="_blank"><img src="~/images/sigook_logo.png" alt="sigook" class="sigook_logo"></a></h3>
            <p>We make hiring easy, literally. Within a few clicks, our self-serve hiring, and work management
               system helps:</p>
            <ul class="orange_check">
                <li>Companies to find the right fit.</li>
                <li>Agencies to streamline their hiring process.</li>
                <li>Workers to find the right job.</li>
            </ul>
              <a href="@Constants.UrlSigook" target="_blank" class="read_more">LEARN MORE + </a>
        </div>
    </div>
    <div class="row container_padding container_detail_products home_punch_card">
        <div class="col-sm-12 col-md-6 align-self-center">
            <h3>Punching <b>system</b></h3>
            <p>Forget about tracking hours manually, writing timesheets and manual payroll. Our digital
                punching system simplifies the management, control and monitoring of the workers' shifts.</p>
            <ul class="orange_check">
                <li>Avoid paperwork and timesheets.</li>
                <li>Track your workers shift easily.</li>
                <li>Get instant timesheets upon supervisor's approval.</li>
                <li>Review, modify, and approve the content anywhere you are.</li>
            </ul>
            
            <a asp-action="Index" asp-controller="Services" class="read_more">LEARN MORE + </a>
            </div>
        <div class="col-sm-12 col-md-6 align-self-center">
            <img src="~/images/tri2.png" alt="Sigook" class="background_triangle">
            <img src="~/images/punchcard.png" alt="Punch card system">
        </div>
    </div>
</div>